<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .container {
            max-width: 850px;
            margin-top: 50px;
        }

        ul {
            justify-content: center;
        }

        .btn-group {
            display: flex;
        }

        .review-group {
            display: flex;
            align-items: center;
            width: 800px;
        }

        .list-group-horizontal {
            max-width: 400px;
            justify-content: left;
        }

        .title {
            margin-bottom: 30px;
        }

        .list-group-horizontal>.list-group-item+.list-group-item {
            width: 300px;
        }

        .rounded-start {
            height: 300px;
        }

    </style>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        //상품 주문
        function orderProduct(id) {
            // var data = {
            //     "username": $("#username").val(),
            // }
            let pid = id;
            // alert(pid);
            $.ajax({
                type: "POST",
                url: "/api/" + pid + "/confirm",
                headers: {'Content-Type': 'application/json'
                    , 'Authorization': "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkZCIsImV4cCI6MTY2ODgzMzEzNiwiaWF0IjoxNjY4ODI1OTM2fQ.aXY_-zFTBenZjI73GJRI636rnN-7FP0iwDIutoqPnRs"},
                // data: JSON.stringify(data),
                success: function (response) {
                    alert("주문을 완료했습니다.");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    let response = JSON.parse(xhr.responseText);
                    // alert(response + " " + xhr.responseText + " " + response.success+ " " + response.data + " "+ response.status);
                    alert(response.error.message);
                }
            });
        }

        //리뷰 작성
        function createReview(id) {
            let pid = id;
            var data = {
                "reviewContent": $("#review").val(),
            }
            // alert("pid   " + pid + "reviewContent   " + $("#review").val());

            $.ajax({
                type: "POST",
                url: "/api/" + pid + "/reviews",
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(data),
                success: function (response) {
                    alert("리뷰를 작성하였습니다.");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    let response = JSON.parse(xhr.responseText);
                    // alert(response + " " + xhr.responseText + " " + response.success+ " " + response.data + " "+ response.status);
                    alert(response.error.message);
                }
            });
        }

        //리뷰 수정
        function updateReview(id) {
            let rId = id;

            var data = {
                "reviewContent": $("#review").val(),
            }

            $.ajax({
                type: "PATCH",
                url: "/api/reviews/" + rId,
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(data),
                success: function (response) {
                    alert("리뷰를 수정하였습니다.");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    let response = JSON.parse(xhr.responseText);
                    // alert(response + " " + xhr.responseText + " " + response.success+ " " + response.data + " "+ response.status);
                    alert(response.error.message);
                }
            });
        }

        //리뷰 삭제
        function deleteReview(id) {
            let rId = id;

            $.ajax({
                type: "DELETE",
                url: "/api/reviews/" + rId,
                headers: {'Content-Type': 'application/json'},
                // data: JSON.stringify(data),
                success: function (response) {
                    alert("리뷰를 삭제하였습니다.");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    let response = JSON.parse(xhr.responseText);
                    // alert(response + " " + xhr.responseText + " " + response.success+ " " + response.data + " "+ response.status);
                    alert(response.error.message);
                }
            });
        }

    </script>

<body>

<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" onclick="location.href='/omg'" class="btn btn-primary"
                style="margin-right: 30px">HOME
        </button>
        <button type="button" class="btn btn-primary">로그인</button>
        <button type="button" class="btn btn-primary" style="margin-left: 1px">로그아웃</button>
        <button type="button" class="btn btn-primary" style="margin-left: 30px">마이페이지</button>
    </div>

    <div class="container">
        <div align="center">
            <h1 class="title">ONO.COM</h1>
        </div>
    </div>

    <div>
        <div class="card" style="width: 18rem; float: left" align="center">
            <img th:src="${product.imgUrl}" alt="image" class="img-fluid rounded-start">
        </div>

        <div>
            <div align="center">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="width: 110px">번호</li>
                    <li class="list-group-item" th:text="${product.productId}">A second item</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="width: 110px">상품명</li>
                    <li class="list-group-item" th:text="${product.title}">A second item</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="width: 110px">카테고리</li>
                    <li class="list-group-item" th:text="${product.category}">A second item</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="width: 110px">상품 가격</li>
                    <li class="list-group-item" th:text="${product.price}">A second item</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="width: 110px">재고 수량</li>
                    <li class="list-group-item" th:text="${product.stock}">A second item</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="width: 110px">배송 상태</li>
                    <li class="list-group-item" th:text="${product.delivery}">A second item</li>
                </ul>
                <ul class="list-group list-group-horizontal" style="margin-top: 5px">
                    <button class="btn btn-primary" type="button" th:onclick="'javascript:orderProduct('+ ${product.productId} + ');'" style="width: 400px;">주문하기</button>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="review-group">
        <input type="text" class="form-control" id="review">
        <button type="button" th:onclick="'javascript:createReview('+ ${product.productId} + ');'" class="btn btn-dark" style="width: 150px; margin-left: 5px">리뷰 작성</button>
    </div>
</div>

<div class="container">





    <table class="table table-striped">
        <thead>
        <tr align="center">
            <th>작성자</th>
            <th>내용</th>
            <th width="100px"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="review : ${reviews}" style="text-align: center">
            <td th:text="${review.name}" width="120px"></td>
            <td th:text="${review.reviewContent}"></td>
            <!--            <td>-->
            <!--                <button type="submit" th:onclick="'javascript:updateReview('+ ${review.reviewId} + ');'" class="update_btn">수정</button>-->
            <!--            </td>-->
            <td width="80px"><button type="submit" th:onclick="'javascript:deleteReview('+ ${review.reviewId} + ');'" class="btn btn-dark">삭제</button></td>
        </tr>

        </tbody>
    </table>
</div>

</div>
</body>
</html>