<!doctype html>
<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .container {
            max-width: 850px;
            margin-top: 50px;
        }

        ul {
            justify-content: center;
        }

        .btn-group {
            display: flex;
        }

        .productCol {
            text-align: center;
        }
    </style>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" style="margin-right: 30px">HOME</button>
        <button type="button" class="btn btn-primary">로그인</button>
        <button type="button" class="btn btn-primary" style="margin-left: 1px">로그아웃</button>
        <button type="button" class="btn btn-primary" style="margin-left: 30px">마이페이지</button>
    </div>

    <div class="container">
        <div align="center">
            <h1>재고 관리</h1>
        </div>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">전체 페이지 수</li>
            <li class="list-group-item" th:text="${max}">0</li>
            <li class="list-group-item">전체 상품수</li>
            <li class="list-group-item" th:text="${productsSize}">100</li>
        </ul>

        <table class="table productCol">
            <thead>
            <tr>
                <th scope="col">상품 번호</th>
                <th scope="col">상품명</th>
                <th scope="col">상품 가격</th>
                <th scope="col">재고 현황</th>
                <th scope="col">판매 유무</th>
                <th scope="col">이벤트 상품</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${products}">
                <td th:text="${product.productId}">회원Id</td>
                <td th:text="${product.title}">상품명</td>
                <td th:text="${product.price}">상품가격</td>
                <td th:text="${product.stock}">재고현황</td>
                <td th:text="${product.isSale}">판매 유무</td>
                <td th:text="${product.isNowEvent}">이벤트 상품</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
<!--                th:with="start=${(products.number / maxPage) * maxPage + 1},-->
<!--                                            end=(${(products.totalPages == 0) ? 1 : (start + (maxPage - 1) < products.totalPages ? start + (maxPage - 1) : products.totalPages)})">-->

                <li class="page-item" th:each="page:${#numbers.sequence(startPage,endPage)}">
                    <a class="page-link" th:if="${page != nowPage}" th:href="@{/admin/management(page=${page-1})}" th:text="${page}">0</a>
                    <b><a class="page-link" th:if="${page==nowPage}" th:text="${page}"></a></b>
                </li>

                <!--                <li class="page-item" th:if="${start > 1}">-->
<!--                    <a class="page-link" th:href="@{/admin/management(page=0)}" th:text="'<<'"> << </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:if="${start > 1}">-->
<!--                    <a class="page-link" th:href="@{/admin/management(page=${start - maxPage})}" th:text="'<'"> < </a>-->
<!--                </li>-->

<!--                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">-->
<!--                    <a class="page-link" th:text="${page}" th:href="@{/admin/management(page=${page - 1}, size=${pageOffset})}">0</a>-->
<!--                </li>-->

<!--                <li class="page-item" th:if="${end < products.totalPages}">-->
<!--                    <a class="page-link" th:href="@{/admin/management(page=${start + maxPage})}" th:text="'>'"> > </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:if="${end < products.totalPages}">-->
<!--                    <a class="page-link" th:href="@{/admin/management(page=${products.totalPages - 1})}" th:text="'>>'"> >> </a>-->
<!--                </li>-->

<!--                <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">4</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">5</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">6</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">7</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">8</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">9</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">10</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            </ul>
        </nav>
    </div> <!-- /container -->
</div>
</body>
</html>