<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .container {
            max-width: 850px;
            margin-top: 50px;
        }

        ul {
            justify-content: center;
        }

        .btn-group {
            display: flex;
        }

        .search {
            display: flex;
            justify-content: center;

            max-width: 570px;
            background-color: #ffffffff;
            border: 1px solid #ced4da;
            border-radius: calc(0.5 * 44px);
            color: #000000ff;
        }

        #searchText {
            max-width: 500px;
            background-color: #ffffffff;
            border-color: #ffffff;
        }

        .searchBtn {
            background-color: #ffffff;
            border-color: #ffffff;
            color: #808080;
        }

        input {
            font-family: inherit;
            font-size: inherit;
            /*height: 100%;*/
            outline: 0;
            padding-inline-end: 44px;
            padding-inline-start: 52px;
            position: relative;
            width: 100%;
        }

        a {
            text-decoration: none;
        }


    </style>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.twbsPagination.js"></script>
<script>
    $(document).ready(function () {
        loadMainPage();
    });

    function number_format(num){
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g,',');
    }

    function loadMainPage() {
        let givenPage = $("#givenPage").val();
        let givenQuery = $("#givenQuery").val();
        let givenUseSearch = $("#givenUseSearch").val();

        let params = "?page=" + givenPage;
        params += "&q=" + givenQuery;
        // params += "&useSearch=" + givenUseSearch;

        $.ajax({
            type: "GET",
            url: "/api/omg" + params,
            headers: {'Content-Type': 'application/json'},
            success: function (response, dd, xhr) {
                $('#list-group').remove();

                if(response.totalElements == 0) {
                    $('.productDesc').remove();

                    let isEmpty = `<h4 align="center">해당 상품이 존재하지 않습니다.</h4>`
                    $('#products').append(isEmpty)

                    alert("존재하지 않는 상품입니다. 샘플 키워드는 [스크] 입니다");
                    return;
                }

                let totalPages = `${response.products.totalPages}`
                // let totalElements = `${response.products.totalElements}`
                let products = response.products.content;

                /**
                 * 상품 리스트
                 */
                for (let i = 0; i < products.length; i++) {
                    let product = products[i];

                    let productId = number_format(product.productId);
                    let title = product.title;
                    let price = number_format(product.price);
                    let stock = number_format(product.stock);
                    let category = product.category;
                    let delivery = product.delivery;

                    let tmpProducts = `<tr>
                                            <td><a href="/products/detail/${productId}">${productId}</a></td>
                                            <td><a href="/products/detail/${productId}">${title}</a></td>
                                            <td>${price}</td>
                                            <td>${category}</td>
                                            <td>${delivery}</td>
                                            <td>${stock}</td>
                                        </tr>`
                    $('#products').append(tmpProducts)
                }

                /**
                 * 페이징
                 */
                var curPage = Number($("#startPage").val())

                window.pagObj = $('#pagination').twbsPagination({
                    totalPages: totalPages + 2,     // 전체 페이지
                    startPage: curPage, // 시작(현재) 페이지
                    initiateStartPageClick: false,
                    visiblePages: 5,    // 최대로 보여줄 페이지
                    prev: "‹",          // Previous Button Label
                    next: "›",          // Next Button Label
                    first: '',         // First Button Label
                    last: '',          // Last Button Label
                    // first: '«',         // First Button Label
                    // last: '»',          // Last Button Label
                    onPageClick: function (event, page) { // Page Click event
                        console.info("current page : " + page);

                        $('#startPage').text(page);
                        var chg = $('#startPage').val(page);
                    }
                }).on('page', function (event, page) {
                    $("#frmSearch").submit();
                });
            },
            error: function (xhr, status, error) {
                alert("error >>>> ")
                // let response = JSON.parse(xhr.responseText);
                // alert("response.error.message");
                // window.location.href = '/admin/login';
            }
        });
    }

</script>

<input type="hidden" id="givenPage" th:value="${nowPage}">
<input type="hidden" id="givenQuery" th:value="${query}">
<!--<input type="hidden" id="givenUseSearch" th:value="${useSearch}">-->

<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" onclick="location.href='/omg'" class="btn btn-primary" style="margin-right: 30px">HOME
        </button>
        <button type="button" class="btn btn-primary">로그인</button>
        <button type="button" class="btn btn-primary" style="margin-left: 1px">로그아웃</button>
        <button type="button" onclick="location.href='/accounts/mypage'" class="btn btn-primary"
                style="margin-left: 30px">마이페이지
        </button>
    </div>
</div>

<div class="container">
    <div align="center" style="margin-bottom: 20px">
        <h1><a href="/omg">ONO.COM</a></h1>
    </div>

    <form action="/omg/search" method="get" class="container search">
        <input type="search" autocomplete="off" class="form-control" spellcheck="false" role="combobox"
               placeholder="검색할 상품명 입력" aria-live="polite" name="q" id="searchText">
        <button type="submit" class="btn btn-light searchBtn">Q</button>
    </form>
</div>

<div class="container productBox">
    <table class="table">
        <thead class="productDesc">
        <tr>
            <th>상품번호</th>
            <th>상품명</th>
            <th>가격</th>
            <th>카테고리</th>
            <th>배송상태</th>
            <th>재고수량</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="products">

        </tbody>
    </table>
</div>

<div class="paging-div">
    <ul class="pagination" id="pagination">

    </ul>
</div>

<form class="form-inline" id="frmSearch" action="/omg/search">
    <input type="hidden" id="startPage" name="page" th:value="${nowPage} + 1" value="1"><!-- 페이징을 위한 hidden타입 추가 -->
    <input type="hidden" id="query" name="q" th:value="${query}" value="1"><!-- 페이징을 위한 hidden타입 추가 -->
</form>
</body>
</html>