<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .container {
            max-width: 850px;
            margin-top: 50px;
        }

        ul {
            justify-content: center;
        }

        .btn-group {
            display: flex;
        }

        .search {
            display: flex;
            background: yellow;
            float: right;
        }

        a {
            text-decoration: none;
        }
    </style>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.twbsPagination.js"></script>
<script>
    $(document).ready(function () {
        loadMainPage();
    });

    function loadMainPage() {
        let givenPage = $("#givenPage").val();

        $.ajax({
            type: "GET",
            url: "/api/omg?page=" + givenPage,
            headers: {'Content-Type': 'application/json'},
            // data: JSON.stringify(data),
            success: function (response, dd, xhr) {
                $('#list-group').remove();

                console.log(response);


                let totalPages = `${response.products.totalPages}`
                let totalElements = `${response.products.totalElements}`
                let products = response.products.content;
                // console.log(totalPages)
                // console.log(totalElements)
                console.log(products);
                // console.log(response.products.totalPages);
                // console.log(response.products.totalElements);

                /**
                 * 전체 페이지 수, 전체 상품수
                 */
                let tmpStr = `<ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">전체 페이지 수</li>
                                    <li class="list-group-item">${totalPages}</li>
                                    <li class="list-group-item">전체 상품수</li>
                                    <li class="list-group-item">${totalElements}</li>
                                </ul>`
                $('#list-groups').append(tmpStr)

                /**
                 * 상품 리스트
                 */
                for (let i = 0; i < products.length; i++) {
                    let product = products[i];

                    let productId = product.id;
                    let title = product.title;
                    let price = product.price;
                    let stock = product.stock;
                    let category = product.catergory;
                    let delivery = product.delivery;

                    let tmpProducts = `<tr>
                                            <td><a href="/products/detail/${productId}">${productId}</a></td>
                                            <td><a href="/products/detail/${productId}">${title}</a></td>
                                            <td>${price}</td>
                                            <td>${category}</td>
                                            <td>${delivery}</td>
                                            <td>${stock}</td>
                                        </tr>`
                    $('#products').append(tmpProducts)
                }

                /**
                 * 페이징
                 */
                var curPage = Number($("#startPage").val())

                window.pagObj = $('#pagination').twbsPagination({
                    totalPages: totalPages,     // 전체 페이지
                    startPage: curPage, // 시작(현재) 페이지
                    initiateStartPageClick: false,
                    visiblePages: 5,    // 최대로 보여줄 페이지
                    prev: "‹",          // Previous Button Label
                    next: "›",          // Next Button Label
                    first: '«',         // First Button Label
                    last: '»',          // Last Button Label
                    onPageClick: function (event, page) { // Page Click event
                        console.info("current page : " + page);

                        $('#startPage').text(page);
                        var chg = $('#startPage').val(page);
                    }
                }).on('page', function (event, page) {
                    $("#frmSearch").submit();
                });
            },
            error: function (xhr, status, error) {
                // let response = JSON.parse(xhr.responseText);
                // alert("response.error.message");
                // window.location.href = '/admin/login';
            }
        });
    }
</script>

<!--<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--<script>-->
<!--    function searchProduct() {-->

<!--        $.ajax({-->
<!--            type: "POST",-->
<!--            url: "",-->
<!--            headers: {'Content-Type': 'application/json'},-->
<!--            data: JSON.stringify(data),-->
<!--            success: function (response) {-->

<!--            },-->
<!--            error : function(xhr, status, error) {-->
<!--                let response = JSON.parse(xhr.responseText);-->
<!--                alert(response.error.message);-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->

<input type="hidden" id="givenPage" th:value="${nowPage}">

<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" onclick="location.href='/omg'" class="btn btn-primary" style="margin-right: 30px">HOME
        </button>
        <button type="button" class="btn btn-primary">로그인</button>
        <button type="button" class="btn btn-primary" style="margin-left: 1px">로그아웃</button>
        <button type="button" onclick="location.href='/accounts/mypage'" class="btn btn-primary"
                style="margin-left: 30px">마이페이지
        </button>
    </div>

    <div class="container">
        <div align="center">
            <h1>ONO.COM</h1>
        </div>

        <div class="search">
            <input type="text" class="form-control" id="searchText">
            <button type="button" onclick="searchProduct()" style="width: 100px; height: 40px">검색</button>
        </div>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">전체 페이지 수</li>
            <li class="list-group-item" th:text="${max}">0</li>
            <li class="list-group-item">전체 상품수</li>
            <li class="list-group-item" th:text="${productsSize}">100</li>
        </ul>

        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>카테고리</th>
                    <th>배송상태</th>
                    <th>재고수량</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="products">
                <!--                   th:href="@{/detail/{itemId}(itemId=${item.id})}"-->

                </tbody>
            </table>
        </div>

        <div class="paging-div">
            <ul class="pagination" id="pagination">

            </ul>
        </div>

        <form class="form-inline" id="frmSearch" action="/admin/management">
            <input type="hidden" id="startPage" name="page" th:value="${nowPage} + 1" value="1"><!-- 페이징을 위한 hidden타입 추가 -->
            <!--            <input type="hidden" id="visiblePages" name="visiblePages" value="">&lt;!&ndash; 페이징을 위한 hidden타입 추가 &ndash;&gt;-->
            <!--            <div class="row">-->
            <!--                <div class="col-md-2" style="text-align:center">-->
            <!--                    <h4><strong>검색어</strong></h4>-->
            <!--                </div>-->
            <!--                <div class="col-md-10">-->
            <!--                    <input type="text" class="form-control" name="searchWord" value="${searchWord}" maxlength="8"/>-->
            <!--                </div>-->
            <!--            </div>-->
        </form>
    </div>
</div> <!-- container -->
</body>
</html>