<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .container {
            max-width: 850px;
            margin-top: 50px;
        }

        ul {
            justify-content: center;
        }

        .btn-group {
            display: flex;
        }

        .search {
            display: flex;
            background: yellow;
            float: right;
        }

        a {
            text-decoration: none;
        }
    </style>
<body>

<!--<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--<script>-->
<!--    function searchProduct() {-->

<!--        $.ajax({-->
<!--            type: "POST",-->
<!--            url: "",-->
<!--            headers: {'Content-Type': 'application/json'},-->
<!--            data: JSON.stringify(data),-->
<!--            success: function (response) {-->

<!--            },-->
<!--            error : function(xhr, status, error) {-->
<!--                let response = JSON.parse(xhr.responseText);-->
<!--                alert(response.error.message);-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->


<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" onclick="location.href='/omg'" class="btn btn-primary" style="margin-right: 30px">HOME
        </button>
        <button type="button" class="btn btn-primary">로그인</button>
        <button type="button" class="btn btn-primary" style="margin-left: 1px">로그아웃</button>
        <button type="button" onclick="location.href='/accounts/mypage'" class="btn btn-primary"
                style="margin-left: 30px">마이페이지
        </button>
    </div>

    <div class="container">
        <div align="center">
            <h1>ONO.COM</h1>
        </div>

        <div class="search">
            <input type="text" class="form-control" id="searchText">
            <button type="button" onclick="searchProduct()" style="width: 100px; height: 40px">검색</button>
        </div>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">전체 페이지 수</li>
            <li class="list-group-item" th:text="${max}">0</li>
            <li class="list-group-item">전체 상품수</li>
            <li class="list-group-item" th:text="${productsSize}">100</li>
        </ul>

        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>카테고리</th>
                    <th>배송상태</th>
                    <th>재고수량</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!--                   th:href="@{/detail/{itemId}(itemId=${item.id})}"-->
                <tr th:each="product : ${products}">
                    <td><a th:href="@{/products/detail/{productId}(productId=${product.productId})}"
                           th:text="${product.productId}"></a></td>
                    <td><a th:href="@{/products/detail/{productId}(productId=${product.productId})}"
                           th:text="${product.title}"></a></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.delivery}"></td>
                    <td th:text="${product.stock}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!--                th:with="start=${(products.number / maxPage) * maxPage + 1},-->
                <!--                                            end=(${(products.totalPages == 0) ? 1 : (start + (maxPage - 1) < products.totalPages ? start + (maxPage - 1) : products.totalPages)})">-->
                <li class="page-item" th:each="page:${#numbers.sequence(startPage,endPage)}">
                    <a class="page-link" th:if="${page != nowPage}" th:href="@{/omg(page=${page-1})}" th:text="${page}">0</a>
                    <b><a class="page-link" th:if="${page==nowPage}" th:text="${page}"></a></b>
                </li>

            </ul>
        </nav>
    </div>
</div> <!-- container -->
</body>
</html>