<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .container {
            max-width: 560px;
            margin-top: 50px;
        }
    </style>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function register() {
            var data = {
                "username": $("#username").val(),
                "password": $("#password").val(),
                "passwordConfirm": $("#passwordConfirm").val(),
            }

            $.ajax({
                type: "POST",
                url: "/api/accounts/signup",
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(data),
                success: function (response) {
                    alert("회원가입이 완료되었습니다.");
                    window.location.href = '/accounts/login';
                },
                error : function(xhr, status, error) {
                    let response = JSON.parse(xhr.responseText);
                    // alert(response + " " + xhr.responseText + " " + response.success+ " " + response.data + " "+ response.status);
                    alert(response.error.message);
                }
            });
        }

    </script>


    <title>Document</title>
</head>
<body>


<div class="container">
    <div align="center">
        <h1>회원가입</h1>
    </div>
</div>
<div>

</div>


<div class="container">
    <div class="mb-3">
        <label for="username" class="form-label">사용자 닉네임</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="number1ono">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">패스워드</label>
        <input type="password" name="password" class="form-control" id="password" rows="3">
    </div>
    <div class="mb-3">
        <label for="passwordConfirm" class="form-label">패스워드 확인</label>
        <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm" rows="3"></textarea>
    </div>
    <button type="button" onclick="register()" class="btn btn-success form-control" style="height: 50px">회원가입</button>
</div>
</body>
</html>